@font-face
{
font-family: miFuente;
src: url(knockout.woff);
}
/*
@font-face
{
font-family: miFuente;
src: url(perpetua_bold.woff);
font-style:bold;
}
@font-face
{
font-family: miFuente;
src: url(perpetua_bold.woff);
font-weight:bold;
}


@font-face
{
font-family: miFuente;
src: url(perpetua_italic.woff);
font-style:italic;
}
*/